<!doctype html>
<html ng-app="App">
<meta charset="UTF-8">

<head>
    <title>My Tasks</title>
    <script src="js/angular.js"></script>
    <script src="Controllers/task.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

</head>

<body class="bgcol">
    <div ng-controller="Hello">
        <div class="container">

            <hr>

            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Tasks</h1>
                    <p class="lead">Teste prático para a Supero</p>
                </div>
            </div>
            <form name="formulario">
                <div class="form-group">
                    <label for="exampleInputEmail1">Título</label>
                    <input ng-model="task.titulo" required ng-minlength="5" ng-maxlength="80" type="text" class="form-control" name="titulo"
                        id="titulo" aria-describedby="emailHelp" placeholder="Entre com o título da tarefa">
                    <div ng-if="formulario.titulo.$touched && formulario.titulo.$invalid">
                        Este campo deve possuir entre 5 e 80 caracteres
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea">Descrição</label>
                    <textarea ng-model="task.descricao" required ng-minlength="5" ng-maxlength="254" class="form-control" name="descricao" id="descricao"
                        rows="3" placeholder="Descrição da tarefa"></textarea>
                    <div ng-if="formulario.descricao.$touched && formulario.descricao.$invalid">
                        Este campo deve possuir entre 5 e 254 caracteres
                    </div>
                </div>

                <button ng-disabled="formulario.$invalid" ng-if="salvar" ng-click="add(task)" type="button" class="btn btn-outline-success">Adicionar Task</button>
                <button ng-disabled="formulario.$invalid" ng-if="!salvar" ng-click="edit_save(task)" type="button" class="btn btn-outline-success">Salvar Alterações</button>
                <button ng-if="!salvar" ng-click="cancel()" type="button" class="btn btn-outline-danger">Cancelar</button>
            </form>
            <hr>



            <div class="alert alert-info" ng-if="!tasks.length">
                Você não tem nenhuma tarefa, adicione uma para começar!
            </div>

            <input class="form-control" placeholder="O que você está buscando?" ng-model="filtro" type="text" name="filtro" id="filtro">

            <hr>
            
            <table class="table table-striped table-bordered" ng-if="tasks.length ">
                <thead>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th style="width: 3%"></th>
                    <th style="width: 3%"></th>
                    <th style="width: 3%"></th>
                </thead>
                <tbody ng-repeat="t in tasks | filter:filtro | orderBy:'-status'">
                    <td>{{t.id}}</td>
                    <td>{{t.titulo}}</td>
                    <td>{{t.descricao}}</td>
                    <td>
                        <b ng-if="t.status == 'Pendente'">
                            <div style="color: green">
                                {{t.status}}
                            </div>
                        </b>
                        <b ng-if="t.status == 'Concluido'">
                            <div style="color: blue">
                                {{t.status}}
                            </div>
                        </b>
                        <b ng-if="t.status == 'Excluido'">
                            <div style="color: red">
                                {{t.status}}
                            </div>
                        </b>
                    </td>

                    <td>
                        <button ng-if="t.status == 'Pendente'" ng-click="editMode(t)" type="button" class="btn btn-sm btn-outline-success">Editar
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>
                    <td>
                        <button ng-if="t.status == 'Pendente'" ng-click="delete_task(t.id)" type="button" class="btn btn-sm btn-outline-danger">Excluir
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                    <td>
                        <button ng-if="t.status == 'Pendente'" ng-click="concluir(t.id)" type="button" class="btn btn-sm btn-outline-info">Concluir
                            <i class="fas fa-check "></i>
                        </button>
                        <button ng-if="t.status == 'Concluido'" ng-click="desfazer(t.id)" type="button" class="btn btn-sm btn-outline-danger">Desfazer
                            <i class="fas fa-undo"></i>
                        </button>
                    </td>

                </tbody>
            </table>
        </div>
    </div>    
</body>

</html>